@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: none;


}

body {
    background: linear-gradient(to bottom, rgb(250, 6, 229), rgb(191, 93, 247));
}


/* Header */
header {
    background: linear-gradient(to bottom, rgb(131, 6, 233), rgb(247, 45, 236));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    /* Reduce la altura */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    /* Distribuye el espacio entre los elementos */
}

.Logo {
    height: 30%;
    padding: 0;
    margin-right: 20px;
}

.navbar-list a {
    font-size: 18px;
    /* Ajusta el tamaño de la fuente */
    color: white;
    /* Asegura que los enlaces sean visibles */
}



.main {
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Asegura que el contenedor principal ocupe al menos el 100% de la altura del viewport */
}

#hero {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
    background: linear-gradient (rgb(98, 12, 197), rgb(236, 42, 236));
    gap:35px;
    }


.hero-info{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
    gap:25px;
    width: 70%;

}

 .hero-info h1 {
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align:center;

    }

.hero-info p{
 padding:50px;
  font-size: 26px;

}
.hero-info a { 
    background-color: rgb(235, 7, 166);
    color: rgb(19, 17, 18);
    border-radius: 15px;
    margin:0 15px;
    padding: 15px;
}

.contenedor{
    display: flex;
}

.hero-img {
    padding: 40px;
}

#presentacion{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.presentacion-data h2{
    display:flex;
    text-align: center;
    align-items: center;
    color:rgb(130, 35, 224);
    justify-content: center;
    font-size: 40px;
}

    .presentacion-data p{
    display: flex;
    text-align: center;
     align-items: center;
     padding: 20px;
     gap: 20px;
     justify-content: center;
      font-size: 26px;
    
  }

    
   
 #menu-toggle{
   display: none;
    
 }

 .menu-label{
    display: none;
 }

/*----------------------------------- INFO SECTION--------------------------------------*/

#info{
    padding: 70px 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:70px;
   
}

#info h2{
    color:rgb(130, 35, 224);
 
    font-size:32px;
    font-weight: 800;
}
#info p{
font-size: 20px;
 }

.info-cards-container{
 display: flex;
 gap: 20px;
}

.info-card{
    background-color: hotpink;
     color: rgb(4, 29, 66);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;                                                              
    text-align: center;                                                                                                           
    line-height: 1.5;
    gap:30px;
    border-radius: 10px;
    max-width:300px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(230, 2, 2);
    transition:all 400ms ease;

 }
.info-card:hover{
  box-shadow: 5px 5px 20px rgb(230, 2, 2);
  transform:translateY(-3%)
}


  .info-card img{
   width: 50px;
  }
  
  .info-card h3{
    font-size:18px;
    font-weight: 600;
  }


 .info-card p{
  color:#351a1a;
}
#char{
display: flex;
justify-content: center;
align-items: center;
padding:65px 0;
background: linear-gradient (rgb(98, 12, 197), rgb(236, 42, 236));
gap:35px;
}

.char-img{
  margin-right: 20%;
  margin-top: -80px;
}


.char-form{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
}

.char-form input{
  font-size: 15px;
  border-radius: 22px;
  padding:14px 50px;
  margin: 10px;
 border: 2px solid rgb(127, 6, 207);


}
.char-condiciones{
  color:white;
}

.btn{
  background:hotpink;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  margin-left: 30px;
  color: azure;
  font-size: 20px;
  font-weight:bolder;
  position: relative;
  border-radius: 12px;
}

button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,  rgb(238, 3, 3), rgb(251, 255, 0));
  background-size: 800%;
  border-radius: 12px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing {
  0% {
      background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
}
100% {
    background-position: 0 0;
}
}

#contact {
  background-color:rgb(248, 37, 178);
  padding: 20px ;
  text-align: center;
  margin-top:auto;

}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container p{
  color:rgb(33, 33, 34);
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.contact-redes {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}



   /* Hover a los del navbar */
  .navbar-list li {
    position:relative;
   }
     
  .navbar-list li  a::after{
    content: "";
    position: absolute;
    background-color: #FFF;
    width:100%;
    height: 2px;
    bottom: 0;
    left:0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition:transform .18s ;
  }

  .navbar-list li a:hover::after{
    transform: scaleX(1);
   transform-origin: bottom left;
        
  }

  /* ANIMACIONES*/
 @keyframes loop{
    from{
     opacity:0;
    }

    to{
     opacity: 1;
    }

 }

 @keyframes slide-up{
   from{
    transform: translateY(100px);
   }

   to{
    transform: translateY(0px);
   }
 
  }
  .hero-info h1{
    animation: loop 1s ease, slide-up 1.6s ease;
}

  .hero-info p{
    animation: loop 0.8s, slide-up 0.9s;
  }

  .hero-info a{
    animation: loop 1s ease, slide-up 0.9s;
  }



@media(max-width: 992px) {

    /* Notebooks y tablets*/
    .navbar {
        gap: 20px;
    }

    .navbar-list {
        position: absolute;
        text-align: center;
        top: 69px;
        left: 5%;
        right: 5%;
        width: 90%;
        background-color: rgb(247, 24, 180);
        border: 2px solid white;
        border-top: 0;
        border-radius: 0px 0px 15px 15px;
        gap: 25px;
        padding: 45px 0;
        flex-direction: column;
        transform: translate(180%);
        transition: all .5s;
    }

    .navbar-list a {
        font-size: 1.2 rem;
    }

    .hero-img{
        display: none;
    }
    
    .menu-label {
        display: flex;
        order: 2;
    }

    .menu-label img {
        width: 25px;
        height: 20px;
    }
    
}

#menu-toggle:checked + .navbar-list {
  transform:translate(0);

}

.toggle{
    width:20px;
}

.hero-info {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.presentacion-data{
   padding-right: 30px;
    max-width:70%;
}

/* Celu*/
@media(max-width:576px) {
   
   .hero-info h1{
    font-size:250%;
   }


.hero-info a{
    font-size:20px;
}

.presentacion-data h2{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.presentacion-data p{
    font-size: 100%;
}
}
  
